.mail-details {
  width: 80%;
  height: 80%;
  background-color: #f3f2ef;
  margin-top: 60px;
  border-radius: 15px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  border: none;
}
.mail-details-card h3 {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail-details-card .img-user {
  margin-top: 13px;
}
.mail-details-card {
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
}
.mail-details-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-top: 5px;
}
.mail-details-content h2,
.mail-details-body {
  margin-top: 20px;
}

.mail-details-from {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.mail-details-from p {
  margin-left: 10px;
}

.mail-details-content p {
  margin-right: 70px;
}

.back-btn {
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 15px;
}

.mail-details-btn {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0;
  background-color: #e8eaed;
  border-radius: 15px 15px 0 0;
}

.remove-details-btn {
  border: none;
  background: transparent;
}
