.mail-app {
  height: 100vh;
}

.mail-app main {
  height: 100%;
}

.keep-list,
.mail-app .mail-list {
  flex: 1;
}

.side-nav {
  flex-basis: 200px;
}
.side-nav {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.filters-container > * {
  padding: 10px;
  margin-inline-end: 10px;
  cursor: pointer;
  border-radius: 0 16px 16px 0;
}

.filters-container > *:hover {
  background-color: #f1f3f4;
}

.filters-container .marked {
  background-color: #fce8e6;
  color: #d93025;
  font-weight: bold;
}

/* .filter:not:first-child {
  margin-top: 10px;
}
.filter {
  border-bottom: 1px solid gray;
  padding: 10px;
}
.filter:active {
  background-color: #fce8e6;
  color: #d93025;
  font-weight: 600;
} */

.filters-container {
  /* border: 1px solid gray; */
  width: 150px;
  height: 70px;
  margin-top: 10px;
}
