.sort {
  width: 150px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background-color: white;
  text-align: left;
  height: 100%;
}
.sort span {
  margin-left: 10px;
}
.sort:hover {
  background-color: #f1f3f4;
}

.sort-title:after {
  border-bottom: 4px solid #d93025;
}

.sort-container .hide {
  display: none;
}
