.mail-app {
  height: 100vh;
}

.mail-app main {
  height: 100%;
}

.keep-list,
.mail-app .mail-list {
  flex: 1;
}

.side-nav {
  flex-basis: 200px;
}
.side-nav {
  text-align: left;
}

.btn-mail {
  margin-left: 300px;
}

.btn.hide {
  display: none;
}
