.mail-preview {
  position: relative;
  border: 1px solid #eceff1;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
}
.mail-preview:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 5px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.mail-preview p,
.mail-preview h4,
.mail-preview h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.show-time {
  margin-inline-end: 20px;
  font-size: 14px;
  display: block;
  flex-basis: 50px;
}
.mail-preview h4 {
  overflow: hidden;
  flex-basis: 100px;
}
.mail-preview h5 {
  flex-basis: 200px;
  font-size: 1rem;
}

.mail-preview .mail-body {
  flex: 1;
  min-width: 0;
}
.mail-preview p {
  color: #5f6368;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
}

.btn-mail {
  position: absolute;
  height: 100%;
  right: 20px;
  display: none;
  gap: 5px;
}

.btn-mail button {
  background: transparent;
  border: none;
  border-radius: 50%;
}

.btn-mail button img {
  background: transparent;
  width: 25px;
  height: 25px;
}

.mail-preview:hover .btn-mail {
  display: flex;
}

.star {
  background-color: rgba(161, 158, 158, 0);
  border-radius: 50%;
  display: inline-block;
}

.gold {
  color: gold;
}

.read {
  background-color: #f5f7f7;
}

.mail-preview:hover .show-time {
  display: none;
}

.icon-container,
.star-icon {
  width: 35px;
  height: 35px;
  /* height: 100%; */
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.icon-container svg,
.icon-container img {
  opacity: 0.3;
}

.sort-mail,
.btn-mail button:hover .icon-container svg,
.btn-mail button:hover .icon-container img {
  opacity: 1;
}

.selecting {
  height: 40px;
  width: 50px;
  border: none;
  background: transparent;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.selecting img {
  width: 20px;
  height: 20px;
}

.selected:hover,
.selecting:hover,
.btn-mail button:hover,
.star-icon:hover {
  background-color: #e8eaed;
}

.selected-mail {
  background-color: #c2dbff;
}

.selected {
  border-radius: 50%;
  height: 48px;
}

.selected .icon-container img {
  width: 25px;
  height: 25px;
}

.btn.hide {
  display: none;
}

.unread-preview {
  margin-left: 20px;
}
