.mail-app {
  height: 100vh;
}

.mail-app main {
  height: 100%;
}

.keep-list,
.mail-app .mail-list {
  flex: 1;
}

/* .subject {
  font-weight: 500;
} */

.side-nav {
  flex-basis: 200px;
}
.side-nav {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.filters-container > * {
  padding: 10px;
  margin-inline-end: 10px;
  cursor: pointer;
  border-radius: 0 16px 16px 0;
}

.filters-container > *:hover {
  background-color: #f1f3f4;
}

.filters-container .marked {
  background-color: #fce8e6;
  color: #d93025;
  font-weight: bold;
}

/* .filter:not:first-child {
  margin-top: 10px;
}
.filter {
  border-bottom: 1px solid gray;
  padding: 10px;
}
.filter:active {
  background-color: #fce8e6;
  color: #d93025;
  font-weight: 600;
} */

.filters-container {
  /* border: 1px solid gray; */
  width: 150px;
  height: 70px;
  margin-top: 10px;
}

/* mail details */

.mail-details {
  width: 80%;
  height: 80%;
  background-color: #f3f2ef;
  margin-top: 60px;
  border-radius: 15px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  border: none;
}
.mail-details-card h3 {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail-details-card .img-user {
  margin-top: 13px;
}
.mail-details-card {
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
}
.mail-details-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-top: 5px;
}

.mail-details-from {
  display: flex;
  align-items: center;
}

.mail-details-from p {
  margin-left: 10px;
}

.mail-details-content p {
  margin-right: 70px;
}

.btn-mail {
  margin-left: 300px;
}

.replay-btn {
  align-items: center;
  border: none;
  display: inline-flex;
  justify-content: center;
  outline: none;
  position: relative;
  z-index: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.25px;
  background: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: #5f6368;
  cursor: pointer;
  font-weight: 500;
  height: 36px;
  outline: none;
  box-shadow: inset 0 0 0 1px #dadce0;
  min-width: 104px;
  padding-right: 10px;
  user-select: none;
  margin-left: 40px;
  text-decoration: none;
  background-image: url(https://www.gstatic.com/images/icons/material/system/1x/reply_black_20dp.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 20px;
}

.replay-btn:hover {
  background-color: rgba(32, 33, 36, 0.059);
}
