.mail-card {
  border: 1px solid #eceff1;
  align-items: center;
}
.mail-card:hover {
  background-color: rgba(187, 183, 183, 0.596);
}

.mail-card h4 {
  width: 200px;
}
.mail-card h5 {
  margin-inline-end: 20px;
}

.star {
  margin-left: 20px;
}
/* .mail-card p {
  width: 400px;
} */
.remove-mail {
  display: none;
}

.mail-card:hover .remove-mail {
  display: block;
}

.star {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  background-color: rgba(161, 158, 158, 0);
  border-radius: 50%;
}

.star:hover {
  background-color: rgba(161, 158, 158, 0.699);
}
.gold {
  color: gold;
}
