.flex {
  display: flex;
}
.flex.justify-center {
  justify-content: center;
}
.flex.space-between {
  justify-content: space-between;
}
.flex.al-content-center {
  align-content: center;
}
.flex.al-items-center {
  align-items: center;
}
.flex.direction-col {
  flex-direction: column;
}
.flex.direction-col {
  flex-wrap: wrap;
}

.btn {
  cursor: pointer;
}

.reset-link {
  text-decoration: none;
  color: inherit;
  width: 100%;
}
