.flex {
  display: flex;
}
.flex.justify-center {
  justify-content: center;
}
.flex.space-between {
  justify-content: space-between;
}
.flex.space-evenly {
  justify-content: space-evenly;
}
.flex.al-content-center {
  align-content: center;
}
.flex.al-items-center {
  align-items: center;
}
.flex.direction-col {
  flex-direction: column;
}
.flex.wrap {
  flex-wrap: wrap;
}

.btn {
  cursor: pointer;
}

.reset-link {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.reset-btn {
  border: none;
  background: transparent;
}

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 16px;
}
