.color-select {
  display: flex;
  position: absolute;
  bottom: 5px;
  width: 65px;
  right: 4px;
  gap: 5px;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffffa6;
  transition: 0.3s;
  padding: 3px 10px 3px 10px;
  z-index: 1;
}

.pallete img:hover .color-select {
  display: flex;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
}

.red {
  background-color: #f28b82;
}

.green {
  background-color: #ccff90;
}

.lightTurkiz {
  background-color: #a7ffeb;
}

.lightyellow {
  background-color: #fff475;
}

.lightBlue {
  background-color: #aecbfa;
}

.grey {
  background-color: #e8eaed;
}

.keep-actions button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  margin-bottom: 5px;
  padding: 5px;
}

.keep-actions button:first-child {
  margin-inline-start: 5px;
}

.keep-actions button:hover {
  background-color: #6f727675;
}

.pin-keep,
.color-pallete,
.duplicate,
.trash {
  width: 25px;
}
