.keep {
  width: 250px;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
  break-inside: avoid;
  /* border: 1px solid #767676; */
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}

/* .keep:hover {
} */

.radius-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.keep h4 {
  padding: 12px 16px 0;
  margin: 0;
}

.keep p {
  padding: 4px 16px 12px;
  margin: 0;
}

li span.checked {
  text-decoration: line-through;
}

.delete-todo {
  height: 18px;
}
